#image {
    width: 100%;
    height: 450px;
    margin-right: 50px;
  }
 h1 {
    margin: 0 auto;
    padding: 10px;
    color: blanchedalmond;
    text-align: center;
    background: black;
 }
 div
 {
    width: 100%;
    height: 400px;
    margin-right: 100px;
    margin-top: 50px;
    

 }


  